# --- General options --- #

# url is the full website URL
# baseurl is the website's URL without the hostname

# If you are building a simple GitHub user page (http://username.github.io) then use these settings:
url: "http://marceluda.github.io/rp_lock-in_pid"
baseurl: "/rp_lock-in_pid"

# If you are building a GitHub project page then use these settings:
#url: "http://username.github.io/projectname"
#baseurl: "/projectname"

# Of course don't forget to change the username and projectname to YOUR username and project

# Name of website
title: Lock-in+PID

# Short description of your site
description: Lock-in amplifier and PIDs filters for RedPitaya

# --- Navigation bar options --- #

# List of links in the navigation bar
#navbar-links:
#  Help:
#    - What is Lock-in and PIDs: "help/about"
#    - Download and install: "help/install"
#    - The App: "help/app_intro"
#    - The App Instruments: "help/instruments_01_intro"
  # Applications:
  #   - Lock-in measurements: "app/lock-in"
  #   - Feedback loop for atabilization: "app/stabilization"
  #   - Laser stabilization:  "app/stabilization-laser"
  #   - Electronic stabilization:  "app/stabilization-electronic"
  #   - Pound-Drever-Hall laser stabilisation: "app/pdh"
  # Documentation:
  #   - RP App: "doc/app"
  #   - RP Bash: "doc/bash"
  #   - Remote Python: "doc/remote_python"
  # Development:
  #   - Changelog: "dev/changelog"
  #   - FPGA: "dev/fpga"
  #   - Web backend: "dev/web_baskend"
  #   - Web Frontend: "dev/web_frontend"
  #   - Python Library: "dev/python_lib"

navbar-links:
  The App:
    - Donwload and install: TheApp/install
    - The instruments: TheApp/instruments/instruments_01_intro
#    - App Schema: app/lala
    - The Red Pitaya Board: TheApp/RedPitaya_board
    - Remote control: TheApp/remote_control
  Tutorials: Tutorials/todo
#    - Locking PDH: app/lala
#    - PID params tuning: app/lala
#    - Using the Lock-in: app/lala
#    - Using the Ramp scan: app/lala
  Dev:
    - Source code: https://github.com/marceluda/rp_lock-in_pid
#    - Dev Documentation: app/lala
#    - HTML+JS doc: app/lala
#    - C++ web server doc: app/lala
#    - FPGA doc: app/lala
  Help:
    - FAQ: help/FAQ
    - Contact: contact
#    - Troubleshoot: app/lala


# --- Navigation bar options  for instruments--- #

pagenav:
  inst-links:
    - title: Introduction
      url: TheApp/instruments/instruments_01_intro
    - title: Oscilloscope
      url: TheApp/instruments/instruments_02_scope
    - title: Outputs
      url: TheApp/instruments/instruments_03_inout
    - title: Lock-in
      url: TheApp/instruments/instruments_04_lock-in
    - title: Oscillators
      url: TheApp/instruments/instruments_05_modulation
    - title: Ramp
      url: TheApp/instruments/instruments_06_ramp_gen
    - title: PIDs
      url: TheApp/instruments/instruments_07_pids
    - title: Auto-lock
      url: TheApp/instruments/instruments_08_autolock




# Image to show in the navigation bar - image must be a square (width = height)
# Remove this parameter if you don't want an image in the navbar
avatar: "/img/avatar-icon.png"

# If you want to have an image logo in the top-left corner instead of the title text,
# then specify the following parameter
# title-img: /path/to/image

paginate_path: "/blog/page:num/"


# --- Background colour/image options --- #

# By default, the navigation bar and footer have a light gray background, and the main page
# has a white background. You can specify a different background colour or a background image
# for the navigation bar, the main page, and the footer.
# navbar-col: "orange"
# navbar-img: "/img/bgimage.png"
# footer-col: "blue"
# footer-img: "/img/bgimage.png"
# page-col: "#FF0000"
# page-img: "/img/bgimage.png"

# --- Footer options --- #

# Change all these values or delete the ones you don't want.
# Important: you must keep the "name" parameter, everything else you can remove
author:
  name: Marcelo luda
  email: "marceluda@gmail.com"
  facebook: marceluda  # eg. daattali
  github: marceluda    # eg. daattali
  twitter: marceluda   # eg. daattali
  # reddit: yourname    # eg. daattali
  # google-plus: +yourname   # eg. +DeanAttali or 109424658772469020925
  # linkedin: yourname  # eg. daattali
  # xing: yourname      # eg. daattali
  # stackoverflow: yourlink  # eg. "3943160/daattali"
  # snapchat: yourname  # eg. daattali
  # instagram: yourname # eg. daattali
  # youtube: yourlink   # eg. user/daattali or channel/daattali
  # spotify: yourname   # eg. daattali
  # telephone: yourphone   # eg. +14159998888
  # steam: yourname     # eg. daattali
  # twitch: yourname    # eg. daattali
  # yelp: yourname      # eg. daattali

# Select which links to show in the footer
footer-links-active:
  rss: false
  facebook: true
  email: true
  twitter: true
  google-plus: false
  github: true
  reddit: false
  linkedin: false
  xing: false
  stackoverflow: false
  snapchat: false
  instagram: false
  youtube: false
  spotify: false
  telephone: false
  steam: false
  twitch: false
  yelp: false

# Select which share links to show in posts
share-links-active:
  twitter: true
  facebook: true
  google: false
  linkedin: false

# How to display the link to the website in the footer
# Remove this if you don't want a link in the footer
# url-pretty: "MyWebsite.com"  # eg. "deanattali.com/beautiful-jekyll"

# --- Misc --- #
# Fill in your Disqus shortname (NOT the userid) if you want to support Disqus comments
#disqus: ""

# Fill in your Google Analytics ID to track your website using GA
#google_analytics: ""
google_analytics: true
#gtag: "UA-117190854-1"
gtag: "UA-117190854-2"
# Google Tag Manager ID
#gtm: ""

# Facebook App ID
# fb_app_id: ""

# Excerpt Word Length
# Truncates the excerpt to the specified number of words on the index page
excerpt_length: 50

# Character used to separate site title and description in HTML document title
# and RSS feed title
title-separator: "|"

# --- Don't need to touch anything below here (but you can if you want) --- #

# Output options (more information on Jekyll's site)
timezone: "America/Argentina/Buenos_Aires"
markdown: kramdown
highlighter: rouge
permalink: /:year-:month-:day-:title/
paginate: 5

kramdown:
  input: GFM

# Default YAML values (more information on Jekyll's site)
defaults:
  -
    scope:
      path: ""
      type: "posts"
    values:
      layout: "post"
      comments: true  # add comments to all blog posts
      social-share: true # add social media sharing buttons to all blog posts
  -
    scope:
      path: "" # all files
    values:
      layout: "page"
      show-avatar: true

# Use tags pages (not recommended if you are deploying via GitHub pages, only set to true if deploying locally with ruby)
link-tags: false

# Exclude these files from production site
exclude:
  - CHANGELOG.md
  - CNAME
  - Dockerfile
  - Gemfile
  - Gemfile.lock
  - LICENSE
  - LICENSE-Theme
  - README.md
  - Vagrantfile

# prose.io config
prose:
  rooturl: '_posts'
  media: 'img'
  ignore:
    - 404.html
    - LICENSE
    - feed.xml
    - _config.yml
    - /_layouts
    - /_includes
    - /css
    - /img
    - /js
  metadata:
    _posts:
      - name: "layout"
        field:
          element: "hidden"
          value: "post"
      - name: "title"
        field:
          element: "text"
          label: "Post title"
          placeholder: "Title"
          alterable: true
      - name: "subtitle"
        field:
          element: "textarea"
          label: "Subtitle"
          placeholder: "A description of your post."
          alterable: true
      - name: "date"
        field:
          element: "text"
          label: "Date"
          help: "Enter date of post."
          placeholder: "yyyy-mm-dd"
          alterable: true
      - name: "image"
        field:
          element: "text"
          label: "Image"
          help: "Add a thumbnail image to your post."
          placeholder: "Thumbnail"
          alterable: true
      - name: "published"
        field:
          element: "checkbox"
          label: "Publish"
          help: "Check to publish post, uncheck to hide."

plugins:
  - jekyll-paginate
  - jekyll-redirect-from

# Beautiful Jekyll / Dean Attali
# 2fc73a3a967e97599c9763d05e564189
